/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* nav바 길이 조정을 위한 강제 설정 */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}


/* Apply the background image to the body element */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-image: url('Background.svg');
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background in place while scrolling */
}

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


/* 스크롤바 스타일 */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
